<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itop.kuava.mapper.CrmAccountInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itop.kuava.entity.CrmAccountInfo">
        <id column="Id" property="Id" />
        <result column="Mobile" property="Mobile" />
        <result column="Email" property="Email" />
        <result column="UserSecret" property="UserSecret" />
        <result column="Password" property="Password" />
        <result column="LoginTime" property="LoginTime" />
        <result column="CreateTime" property="CreateTime" />
        <result column="InviteCode" property="InviteCode" />
        <result column="DataStatus" property="DataStatus" />
        <result column="Checked" property="Checked" />
        <result column="AccountType" property="AccountType" />
        <result column="RechargeScore" property="RechargeScore" />
        <result column="ConcernNum" property="ConcernNum" />
        <result column="PositionNum" property="PositionNum" />
        <result column="Composite" property="Composite" />
        <result column="Explain" property="Explain" />
        <result column="NickName" property="NickName" />
        <result column="AdminName" property="AdminName" />
        <result column="AdminMobile" property="AdminMobile" />
        <result column="RewardScore" property="RewardScore" />
        <result column="RegisterInviteCode" property="RegisterInviteCode" />
        <result column="CreaterId" property="CreaterId" />
        <result column="InviteImg" property="InviteImg" />
        <result column="QrCode" property="QrCode" />
        <result column="ExpressCount" property="ExpressCount" />
        <result column="InformationCount" property="InformationCount" />
        <result column="TrainCount" property="TrainCount" />
        <result column="RecruitCount" property="RecruitCount" />
        <result column="VideoCount" property="VideoCount" />
        <result column="ReadSum" property="ReadSum" />
        <result column="AdCount" property="AdCount" />
        <result column="IsPointAccount" property="IsPointAccount" />
    </resultMap>

</mapper>
