<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itop.kuava.mapper.NewsVideoInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itop.kuava.entity.NewsVideoInfo">
        <id column="Id" property="Id" />
        <result column="Title" property="Title" />
        <result column="Summary" property="Summary" />
        <result column="Tags" property="Tags" />
        <result column="ClassType" property="ClassType" />
        <result column="Context" property="Context" />
        <result column="Source" property="Source" />
        <result column="ImgUrl" property="ImgUrl" />
        <result column="LinkUrl" property="LinkUrl" />
        <result column="BuyScore" property="BuyScore" />
        <result column="CreateTime" property="CreateTime" />
        <result column="PushTime" property="PushTime" />
        <result column="Checked" property="Checked" />
        <result column="Explain" property="Explain" />
        <result column="AccountId" property="AccountId" />
        <result column="ReadSum" property="ReadSum" />
        <result column="RewardScoreSum" property="RewardScoreSum" />
        <result column="RewardScoreNum" property="RewardScoreNum" />
        <result column="SourceName" property="SourceName" />
        <result column="Score" property="Score" />
        <result column="RechargeScore" property="RechargeScore" />
        <result column="RewardScore" property="RewardScore" />
        <result column="CreaterId" property="CreaterId" />
        <result column="ContextText" property="ContextText" />
        <result column="ModifyUser" property="ModifyUser" />
        <result column="DataStatus" property="DataStatus" />
    </resultMap>

</mapper>
