<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itop.kuava.mapper.NewsRecruitInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itop.kuava.entity.NewsRecruitInfo">
        <id column="Id" property="Id" />
        <result column="Title" property="Title" />
        <result column="Context" property="Context" />
        <result column="CreateTime" property="CreateTime" />
        <result column="PushTime" property="PushTime" />
        <result column="Checked" property="Checked" />
        <result column="Explain" property="Explain" />
        <result column="AccountId" property="AccountId" />
        <result column="ReadSum" property="ReadSum" />
        <result column="Tags" property="Tags" />
        <result column="Summary" property="Summary" />
        <result column="Money" property="Money" />
        <result column="RewardScoreSum" property="RewardScoreSum" />
        <result column="RewardScoreNum" property="RewardScoreNum" />
        <result column="Score" property="Score" />
        <result column="RechargeScore" property="RechargeScore" />
        <result column="RewardScore" property="RewardScore" />
        <result column="CreaterId" property="CreaterId" />
        <result column="ProvinceId" property="ProvinceId" />
        <result column="ProvinceName" property="ProvinceName" />
        <result column="CityId" property="CityId" />
        <result column="CityName" property="CityName" />
        <result column="AreaId" property="AreaId" />
        <result column="AreaName" property="AreaName" />
        <result column="Address" property="Address" />
        <result column="ContextText" property="ContextText" />
        <result column="ModifyUser" property="ModifyUser" />
        <result column="DataStatus" property="DataStatus" />
    </resultMap>

</mapper>
