<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itop.kuava.mapper.RankStarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itop.kuava.entity.RankStar">
        <id column="Id" property="Id" />
        <result column="Name" property="Name" />
        <result column="Keywords" property="Keywords" />
        <result column="BaiduIndex" property="BaiduIndex" />
        <result column="BaiduSort" property="BaiduSort" />
        <result column="GoogleIndex" property="GoogleIndex" />
        <result column="GoogleSort" property="GoogleSort" />
        <result column="ZiXunIndex" property="ZiXunIndex" />
        <result column="ZiXunSort" property="ZiXunSort" />
        <result column="FacebookIndex" property="FacebookIndex" />
        <result column="FacebookSort" property="FacebookSort" />
        <result column="WeiboIndex" property="WeiboIndex" />
        <result column="WeiboSort" property="WeiboSort" />
        <result column="CompositeIndex" property="CompositeIndex" />
        <result column="CompositeSort" property="CompositeSort" />
    </resultMap>

</mapper>
