<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itop.kuava.mapper.SysAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itop.kuava.entity.SysAccount">
        <id column="Id" property="Id" />
        <result column="Account" property="Account" />
        <result column="Password" property="Password" />
        <result column="DataStatus" property="DataStatus" />
        <result column="UserSecret" property="UserSecret" />
        <result column="RealName" property="RealName" />
        <result column="LoginTime" property="LoginTime" />
        <result column="CreateTime" property="CreateTime" />
        <result column="IsAdmin" property="IsAdmin" />
        <result column="CreateId" property="CreateId" />
        <result column="RoleId" property="RoleId" />
        <result column="RoleName" property="RoleName" />
    </resultMap>

</mapper>
