<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itop.kuava.mapper.SysAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itop.kuava.entity.SysArea">
        <result column="Name" property="Name" />
        <result column="FullName" property="FullName" />
        <result column="ShortName" property="ShortName" />
        <result column="PinYin" property="PinYin" />
        <result column="Id" property="Id" />
        <result column="ParentId" property="ParentId" />
        <result column="FLevel" property="FLevel" />
        <result column="Code" property="Code" />
        <result column="ZipCode" property="ZipCode" />
    </resultMap>

</mapper>
