<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itop.kuava.mapper.SysCommentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itop.kuava.entity.SysCommentInfo">
        <id column="Id" property="Id" />
        <result column="AccountId" property="AccountId" />
        <result column="ObjectId" property="ObjectId" />
        <result column="ParentId" property="ParentId" />
        <result column="Context" property="Context" />
        <result column="CreateTime" property="CreateTime" />
        <result column="Checked" property="Checked" />
        <result column="CheckUser" property="CheckUser" />
        <result column="UpSum" property="UpSum" />
    </resultMap>

</mapper>
