<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itop.kuava.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itop.kuava.entity.SysRole">
        <id column="Id" property="Id" />
        <result column="EnCode" property="EnCode" />
        <result column="FullName" property="FullName" />
        <result column="DataStatus" property="DataStatus" />
        <result column="Createtime" property="Createtime" />
        <result column="CreateUserId" property="CreateUserId" />
        <result column="Permissions" property="Permissions" />
    </resultMap>

</mapper>
